.card{
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: white;
}

.card h2{
    text-align: center;
    margin-bottom: 15px;
}

.card ul{
    padding-left: 20px;
}

/* Perro */
.perro{
    background-color: #64B5F6;
}

/* Gato */
.gato{
    background-color: #CE93D8;
}

/* Otro */
.otro{
    background-color: #FFCC80;
    color: black;
}